<form {{action "save" on="submit"}}>
  <div class="form-group">
    <label>
      Temat
      {{input type="text" value=model.value}}
    </label>
  </div>
  <input type="submit" class="btn btn-primary" value="Zapisz">
</form>
