<h2>List of Projects</h2>

{{#each model as |project|}}
<div class="row">
  <div class="col-sm-3">{{project.name}}</div>
  <div class="col-sm-3">{{project.team.name}}</div>
  <div class="col-sm-3">{{project.battle.topic.value}}</div>
  <div class="col-sm-2"></div>
</div>
{{/each}}